<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="../images/fav-icon.png" />
    <title>Insect Dashboard - 404</title>
    <!----===== Boxicons CSS ===== -->
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section style="display: block; margin: auto; text-align: center;">
        <i class='bx bxs-error-circle' ></i>
        <h1>Wat jammer... deze pagina kon niet geladen worden!</h1>
    </section>
  </body>
</html>
