<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="css/style-map.css">
    <link rel="stylesheet" href="css/leaflet-css/leaflet.css">
    <link rel="stylesheet" href="css/leaflet-css/qgis2web.css">
    <link rel="stylesheet" href="css/leaflet-css/fontawesome-all.min.css">
     <!----===== Boxicons CSS ===== -->
     <link
     href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
     rel="stylesheet"
   />
    <title>Insecten-Dashboard</title>
    <link rel="icon" type="image/png" href="../images/fav-icon.png" />
</head>

<body>
  <div class="se-pre-con"></div>

  <div id="tooltip">
    <h1>Gehoverde data:</h1>
    <p id="tooltip-data"></p>
  </div>
    <aside>
        <div class="sidebar-content">
            <section>

                <div class="logo-section">
                    <span><img src="../images/fav-icon.png" alt="" /></span>
                    <div>
                    <span>Diopsis</span>
                    <span>Insecten dashboard</span>
                </div>
                </div>

                <div class="switches-container">
                    <input type="radio" id="switchKaart" name="switchPlan" value="Kaart" checked="checked" />
                    <input type="radio" id="switchVergelijk" name="switchPlan" value="Vergelijk" />
                    <label for="switchKaart" onclick="togglePage('kaart.html')">Kaart</label>
                    <label for="switchVergelijk" onclick="togglePage('vergelijken')">Vergelijk</label>
                    <div class="switch-wrapper">
                        <div class="switch">
                            <div>Kaart</div>
                            <div>Vergelijk</div>
                        </div>
                    </div>
                </div>

                <h2 id="titelSelection">Statistieken Nederland 2022</h2>

                <div class="gemeente-stats camera">
                  <img src="images/camera-svgrepo-com.svg" alt="camera icon">
                    <div>
                        <p>Totaal aantal geplaatste camera's</p>
                        <p id="surface">53 camera's</p>
                    </div>
                </div>

                <div class="gemeente-stats">
                    <img src="images/bug-svgrepo-com.svg" alt="insect icon">
                    <div>
                        <p>Totaal aantal gemeten insecten</p>
                        <p id="population">251.000 insecten</p>
                    </div>
                </div>

                <div class="gemeente-stats">
                  <img src="images/chart-simple-svgrepo-com.svg" alt="charts icon">
                  <div>
                      <p>Top 3 meest voorkomende insecten families</p>
                      <svg id="groupedBarChart" width="400" height="70"></svg>
                      <!-- <div id="stackedChart"></div> -->
                  </div>
              </div>

              <div class="gemeente-stats">
                <img src="images/chart-simple-svgrepo-com.svg" alt="charts icon">
                <div>
                    <p>Top 10 Meest voorkomende soorten</p>
                </div>
            </div>

            </section>


            <section class="bottomSearch">
              <h2>Zoek op insecten soort</h2>

                <form action="/" class="search">
                    <div class="searchbar-box6">
                        <input type="search" placeholder="Zoeken..." class="searchbar6">
                        <a href="#" class="icon6">
                          <i class='bx bx-search' ></i>
                        </a>
                    </div>
                </form>
            </section>
    </aside>

    <div class="info-aside">
        <div id="sidebar-away">
          <i class='bx bx-chevron-left' ></i>
        </div>
        <h2>Hoe werkt het?</h2>
        <h2>Welkom bij het insecten dashboard van Diopsis.</h2>
        <p>Gebruik de kaart van Nederland om de details van de insectencamera per gebied te bekijken. Elk gebied wordt per punt aangegeven. Hover over de punten en/of klik op een provincie om specifieke informatie te krijgen.  <br><br>Vergelijk data en variabelen met elkaar door middel van onze ‘vergelijk’ toggle.</p>
    </div>

    <div id="legenda">
        <h3>Legenda</h3>
        <p>Biomassa per provincie 2022</p>
        <div class="color-container">
            <div>
                <div class="legenda-color"></div>
                <p>geen</p>
            </div>

            <div>
                <div class="legenda-color"></div>
                <p>+5%</p>
            </div>

            <div>
                <div class="legenda-color"></div>
                <p>+10%</p>
            </div>

            <div>
                <div class="legenda-color"></div>
                <p>+15%</p>
            </div>

            <div>
                <div class="legenda-color"></div>
                <p>+20%</p>
            </div>
        </div>
        <p>Landschapstype</p>
        <div class="color-container">
          <div>
              <div class="legenda-color"></div>
              <p>Natuur</p>
          </div>

          <div>
              <div class="legenda-color"></div>
              <p>Agrarisch</p>
          </div>

          <div>
              <div class="legenda-color"></div>
              <p>Stedelijk</p>
          </div>
      </div>
    </div>

    <div id="map">
    </div>

    <script src="js/generate-color.js"></script>
    <script src="js/tooltip.js"></script>
    <script src="js/highlight-layer.js"></script>
    <script src="js/leaflet-js/qgis2web_expressions.js"></script>
    <script src="js/leaflet-js/leaflet.js"></script>
    <script src="js/leaflet-js/leaflet.rotatedMarker.js"></script>
    <script src="js/leaflet-js/leaflet.pattern.js"></script>
    <script src="js/leaflet-js/leaflet-hash.js"></script>
    <script src="js/leaflet-js/Autolinker.min.js"></script>
    <script src="js/leaflet-js/rbush.min.cjs"></script>
    <script src="js/leaflet-js/labelgun.min.cjs"></script>
    <script src="js/leaflet-js/labels.js"></script>
    <script src="data/Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0.js"></script>
    <script src="js/index.js"></script>
    <script type="module" src="js/charts-map.js"></script>

    <script>
        var map = L.map('map', {
            zoomControl: true, minZoom: 7, maxZoom: 11
        }).fitBounds([[50.105460973125716, 2.57418013160256], [54.1218397752703, 8.280539894436483]]);
        map.attributionControl.setPrefix('<a href="https://github.com/tomchadwin/qgis2web" target="_blank">qgis2web</a> &middot; <a href="https://leafletjs.com" title="A JS library for interactive maps">Leaflet</a> &middot; <a href="https://qgis.org">QGIS</a>');
        var autolinker = new Autolinker({ truncate: { length: 30, location: 'smart' } });
        var bounds_group = new L.featureGroup([]);
        var hash = new L.Hash(map);
        map.setZoom(8);

        map.createPane('pane_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0');
        map.getPane('pane_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0').style.zIndex = 400;
        map.getPane('pane_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0').style['mix-blend-mode'] = 'normal';
        var layer_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0 = new L.geoJson(json_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0, {
            attribution: '',
            interactive: true,
            dataVar: 'json_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0',
            layerName: 'layer_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0',
            pane: 'pane_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0',
            onEachFeature: pop_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0,
            style: style_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0_0,
        });
        bounds_group.addLayer(layer_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0);
        map.addLayer(layer_Gemeentegrenzen_2019shpGemeentegrenzen__voorlopig____kustlijn_0);
        setBounds();
    </script>
    <script>
      var deleteCameraInfo = document.querySelector(".gemeente-stats.camera");

// Example coordinates for points in the Netherlands
var pointCoordinates1 = [52.4736, 4.6674];
var pointCoordinates2 = [53.0251, 4.7454];
var pointCoordinates3 = [52.4195, 4.5601];

// Define information for each marker
var markerData = {
  marker1: {
    naamCamera: `Camera Beverwijk`,
    aantalinsecten: 1.035,
    ground: `Stedelijk`,
    voorkomend: [
      { name: "vlinder", value: 20 },
      { name: "ratten", value: 10 },
      { name: "muizen", value: 10 },
    ],
  },
  marker2: {
    naamCamera: `Camera Den Hoorn Texel`,
    aantalinsecten: 2.142,
    ground: `Agrarisch`,
    voorkomend: [
      { name: "vlinder", value: 30 },
      { name: "ratten", value: 10 },
      { name: "muizen", value: 70 },
    ],
  },
  marker3: {
    naamCamera: `Camera Overveen Vogelringstation`,
    aantalinsecten: 1.091,
    ground: `Natuur`,
    voorkomend: [
      { name: "vlinder", value: 50 },
      { name: "ratten", value: 10 },
      { name: "muizen", value: 30 },
    ],
  },
};

// Create markers for the points using createMarker function
var marker1 = createMarker(
  pointCoordinates1,
  "Marker 1: This is a point in the Netherlands",
  markerData.marker1.ground
);
var marker2 = createMarker(
  pointCoordinates2,
  "Marker 2: Another point in the Netherlands",
  markerData.marker2.ground
);
var marker3 = createMarker(
  pointCoordinates3,
  "Marker 3: Yet another point in the Netherlands",
  markerData.marker3.ground
);

// You can also add popups to the markers
marker1.bindPopup(`<table>
    <tr>
        <td colspan="2"><h3 class="gemeente-titel">${
          markerData.marker1.naamCamera
            ? `${markerData.marker1.naamCamera}`
            : ""
        }</h3></td>
    </tr>
    <tr>
      <th scope="row"> Landschap:</th>
      <td>${
        markerData.marker1.ground ? `${markerData.marker1.ground}` : ""
      }</td>
    </tr>
</table>`);

marker2.bindPopup(`<table>
    <tr>
        <td colspan="2"><h3 class="gemeente-titel">${
          markerData.marker2.naamCamera
            ? `${markerData.marker2.naamCamera}`
            : ""
        }</h3></td>
    </tr>
    <tr>
      <th scope="row"> Landschap:</th>
      <td>${
        markerData.marker2.ground ? `${markerData.marker2.ground}` : ""
      }</td>
    </tr>
</table>`);

marker3.bindPopup(`<table>
    <tr>
        <td colspan="2"><h3 class="gemeente-titel">${
          markerData.marker3.naamCamera
            ? `${markerData.marker3.naamCamera}`
            : ""
        }</h3></td>
    </tr>
    <tr>
      <th scope="row"> Landschap:</th>
      <td>${
        markerData.marker3.ground ? `${markerData.marker3.ground}` : ""
      }</td>
    </tr>
</table>`);

// Function to create markers with custom icons based on the "ground" property
function createMarker(coordinates, popupContent, ground) {
  var marker;

  // Check if the "ground" property exists
  if (ground) {
    var iconUrl = getIconUrl(ground);
    var customIcon = L.icon({
      iconUrl: iconUrl,
      iconSize: [32, 32], // adjust the size based on aantalinsecten
      popupAnchor: [0, -10], // adjust the anchor point as needed
    });

    marker = L.marker(coordinates, { icon: customIcon });
  } else {
    // Create a default marker
    marker = L.marker(coordinates);
  }

  marker.addTo(map);
  marker.bindPopup(popupContent);

  // Attach click event to markers
  marker.on("click", handleMarkerClick);
  // Attach hover event to markers
  marker.on("mouseover", handleMarkerHover);
  // Attach mouseout event to markers
  marker.on("mouseout", handleMarkerMouseOut);

  return marker;
}

// Function to get the icon URL based on the "ground" property
function getIconUrl(ground) {
  // Add logic to determine the icon URL based on the ground type
  switch (ground.toLowerCase()) {
    case "natuur":
      return "images/blueIcon1.svg";
    case "stedelijk":
      return "images/greyIcon1.svg";
    case "agrarisch":
      return "images/purpleIcon1.svg";
    // Add more cases as needed
    default:
      return "css/leaflet-css/images/marker-icon.png";
  }
}

function handleMarkerClick(event) {
  // Get marker data based on marker's unique ID
  var markerID = event.target._leaflet_id.toString();
  var markerInfo = markerData[markerID];

  deleteCameraInfo.style.display = "none";

  // Update the sidebar content
  document.getElementById("titelSelection").innerHTML = markerInfo.naamCamera;
  document.getElementById("population").innerHTML =
    markerInfo.aantalinsecten + ` insecten`;
}

// Set unique IDs for each marker
marker1._leaflet_id = "marker1";
marker2._leaflet_id = "marker2";
marker3._leaflet_id = "marker3";

// Handle marker hover to show the popup
function handleMarkerHover(event) {
  event.target.openPopup();
}

// Handle marker mouseout to close the popup
function handleMarkerMouseOut(event) {
  event.target.closePopup();
}

// Attach hover event to markers
marker1.on("mouseover", handleMarkerHover);
marker2.on("mouseover", handleMarkerHover);
marker3.on("mouseover", handleMarkerHover);

// Attach mouseout event to markers
marker1.on("mouseout", handleMarkerMouseOut);
marker2.on("mouseout", handleMarkerMouseOut);
marker3.on("mouseout", handleMarkerMouseOut);
    </script>
</body>

</html>